@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.btn-primary {
  @apply p-2 px-5 bg-blue-800 rounded-sm transition-all hover:bg-blue-700 hover:scale-105 active:ring-2 active:ring-blue-500 focus:ring-2 focus:ring-blue-500;
}

.btn-dark {
  @apply p-2 px-5 bg-neutral-800 rounded-sm transition-all hover:bg-neutral-700 hover:scale-105 active:ring-2 active:ring-blue-500 focus:ring-2 focus:ring-blue-500;
}

.btn-discord {
  @apply p-2 px-5 bg-[#7289da] rounded-sm transition-all hover:bg-[#8193d7] hover:scale-105 active:ring-2 active:ring-blue-500 focus:ring-2 focus:ring-blue-500;
}
